Package: hdf5
Version: 1.12.1
Port-Version: 4
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 6aadd99cd1156526b34dcf5a1890c36f3bddd966828a41ece6d81f2a4958d959
Description: HDF5 is a data model, library, and file format for storing and managing data
Type: Port
Default-Features: szip, zlib

Package: hdf5
Feature: szip
Depends: szip
Architecture: x86-windows
Multi-Arch: same
Description: Build with szip
Type: Port

Package: hdf5
Feature: zlib
Depends: zlib
Architecture: x86-windows
Multi-Arch: same
Description: Build with zlib
Type: Port
