Package: hdf5
Version: 1.14.6
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 3ba2890549f67eb71680a24ec17671c3bca7efade4c29bd7fbb919b325e40e86
Description: HDF5 is a data model, library, and file format for storing and managing data
Default-Features: szip, zlib

Package: hdf5
Feature: szip
Depends: libaec
Architecture: x86-windows
Multi-Arch: same
Description: Build with szip

Package: hdf5
Feature: zlib
Depends: zlib
Architecture: x86-windows
Multi-Arch: same
Description: Build with zlib
