Package: icu
Version: 74.2
Port-Version: 2
Depends: icu:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 8acb309a7a517228b9e5a488b68d8ad9ad30011de17f76eeacc1cb50ab8381b5
Description: Mature and widely used Unicode and localization library.
