Package: icu
Version: 69.1
Port-Version: 18
Depends: icu:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 4b6d72cb11511e058d002da45a689d2ee0fabe55f3141703abf522bac94a9da4
Description: Mature and widely used Unicode and localization library.
Type: Port
