Package: icu
Version: 78.1
Depends: icu:x64-windows, vcpkg-cmake-get-vars:x64-windows, vcpkg-make:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: a8aa689ec9817f145f1214f3c58a3eafdf60d1323ea03fe4ab97b454e554176c
Description: Mature and widely used Unicode and localization library.
