Package: szip
Version: 2.1.1
Port-Version: 12
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: bc34f31e6b2baacf8d1a4f17b372306d562086b850749154766b86e7f6204657
Description: Szip compression software, providing lossless compression of scientific data
