Package: szip
Version: 2.1.1
Port-Version: 7
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 7c4ae853270c9e73542c8f9d1c551dd2a262cb1333059520c7ef9768b9cfae1c
Description: Szip compression software, providing lossless compression of scientific data
Type: Port
