Package: libffi
Version: 3.4.2
Port-Version: 4
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 853c950246ab182ef5bb724e738a6fd27fc1c61e8a31052ae702144964b35c3d
Description: Portable, high level programming interface to various calling conventions
Type: Port
