Package: libffi
Version: 3.4.6
Depends: vcpkg-cmake-get-vars:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: a116e10e9c0290adb317e0607fa3890c32ee6767ce288bd11670af3f9e0a5b30
Description: Portable, high level programming interface to various calling conventions
