Package: matio
Version: 1.5.28
Depends: vcpkg-cmake:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 3bee6e5058d492b6b134740ef1fa9d31b3d2f6094a7659580d28206109ab4f32
Description: MATLAB MAT File I/O Library
Default-Features: mat73, zlib

Package: matio
Feature: mat73
Depends: hdf5, matio
Architecture: x86-windows
Multi-Arch: same
Description: Enable support for version 7.3 MAT files using the HDF5 library

Package: matio
Feature: zlib
Depends: zlib
Architecture: x86-windows
Multi-Arch: same
Description: Check for zlib library
