Package: portaudio
Version: 19.7
Port-Version: 5
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 498e591806415140c019bcc7b23a038789804bb659821d3b081d29894dbda4e7
Description: PortAudio Portable Cross-platform Audio I/O API PortAudio is a free, cross-platform, open-source, audio I/O library.  It lets you write simple audio programs in 'C' or C++ that will compile and run on many platforms including Windows, Macintosh OS X, and Unix (OSS/ALSA). It is intended to promote the exchange of audio software between developers on different platforms. Many applications use PortAudio for Audio I/O.
