Package: libxml2
Version: 2.9.12
Port-Version: 4
Depends: libiconv, liblzma, vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows, zlib
Architecture: x86-windows
Multi-Arch: same
Abi: b564cb42f2ae9817692047548598116f1fe108d73fba1f933f81f83ad7532ed3
Description: Libxml2 is the XML C parser and toolkit developed for the Gnome project (but usable outside of the Gnome platform).
Type: Port
