Package: libxml2
Version: 2.14.5
Port-Version: 1
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 5e6e06d9c204faa4c3e64d155f92ac2c2f6233c2636b5042586857b701df5c01
Description: Libxml2 is the XML C parser and toolkit developed for the Gnome project (but usable outside of the Gnome platform).
Default-Features: iconv, zlib

Package: libxml2
Feature: iconv
Depends: libiconv
Architecture: x86-windows
Multi-Arch: same
Description: Add ICONV support

Package: libxml2
Feature: zlib
Depends: zlib
Architecture: x86-windows
Multi-Arch: same
Description: Use ZLib
