Package: openblas
Version: 0.3.27
Depends: openblas:x64-windows, vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 9643888a9317fdf8abd296b5789d8926bfd46d2b228d0d5d449374d819c243dd
Description: OpenBLAS is an optimized BLAS library based on GotoBLAS2 1.13 BSD version.
