Package: openblas
Version: 0.3.19
Depends: openblas:x64-windows, vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: f02c417a17ce60b02c5d1d736552212700138eceb6182efdbcd5826bca457ae8
Description: OpenBLAS is an optimized BLAS library based on GotoBLAS2 1.13 BSD version.
Type: Port
