Package: libgit2
Version: 1.3.0
Port-Version: 2
Depends: http-parser, vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows, zlib
Architecture: x86-windows
Multi-Arch: same
Abi: 6618021354e1bb2476cea9175f63fe1c2e4ff174967df94e22ee2e011a60a58b
Description: Git linkable library
Type: Port
Default-Features: pcre, ssl

Package: libgit2
Feature: pcre
Depends: pcre
Architecture: x86-windows
Multi-Arch: same
Description: Build against external libpcre
Type: Port

Package: libgit2
Feature: ssl
Depends: libgit2
Architecture: x86-windows
Multi-Arch: same
Description: Default SSL backend
Type: Port

Package: libgit2
Feature: winhttp
Architecture: x86-windows
Multi-Arch: same
Description: SSL support (WinHTTP)
Type: Port
