Package: libgit2
Version: 1.8.0
Depends: http-parser, vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows, zlib
Architecture: x86-windows
Multi-Arch: same
Abi: eaeba698d450aa8a0f86747ab1a2a8eb06586b728da529e30e61dd6d493190b0
Description: A C library implementing the Git core methods with a solid API
Default-Features: pcre, ssl

Package: libgit2
Feature: pcre
Depends: pcre
Architecture: x86-windows
Multi-Arch: same
Description: Build against external libpcre

Package: libgit2
Feature: ssl
Depends: libgit2
Architecture: x86-windows
Multi-Arch: same
Description: Default SSL backend

Package: libgit2
Feature: winhttp
Architecture: x86-windows
Multi-Arch: same
Description: SSL support (WinHTTP)
