Package: libxslt
Version: 1.1.43
Port-Version: 1
Depends: libxml2, vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: bb40493f6f5f1ab53c4726bca07b5821fe570dbf83795ab5a0e0671e5a80b869
Description: Libxslt is a XSLT library implemented in C for XSLT 1.0 and most of EXSLT
Default-Features: profiler, thread

Package: libxslt
Feature: profiler
Architecture: x86-windows
Multi-Arch: same
Description: Build with profiling support

Package: libxslt
Feature: thread
Architecture: x86-windows
Multi-Arch: same
Description: Enable multi-threading support
