Package: sndfile
Version: 0
Port-Version: 1
Depends: libsndfile
Architecture: x86-windows
Multi-Arch: same
Abi: 3450dd920d929fdde30db2cab0a43894aadc356cc81fc2ce15711a54c195241f
Description: x Library to read, write and manipulate many soundfile types.
Type: Port
Default-Features: external-libs

Package: sndfile
Feature: external-libs
Depends: libsndfile
Architecture: x86-windows
Multi-Arch: same
Description: Support Ogg Vorbis and FLAC audio files
Type: Port
