Package: libsndfile
Version: 1.2.2
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: f311aa10d9facd352cdb345d6ba3f864828a38c814ef1efd090d3a9e82f6eb1b
Description: A library for reading and writing audio files
Default-Features: external-libs, mpeg

Package: libsndfile
Feature: external-libs
Depends: libflac, libvorbis, opus
Architecture: x86-windows
Multi-Arch: same
Description: Enable FLAC, Vorbis, and Opus codecs

Package: libsndfile
Feature: mpeg
Depends: mp3lame, mpg123
Architecture: x86-windows
Multi-Arch: same
Description: Enable MPEG codecs
