Package: libsndfile
Version: 1.0.31
Architecture: x86-windows
Multi-Arch: same
Abi: 0b07dc8445324f357fc75636cf79030fc504abb217284a4926d831f59ca4fdf3
Description: Library to read, write and manipulate many soundfile types. Authored by Eric de Castro Lopo
Type: Port
Default-Features: external-libs

Package: libsndfile
Feature: external-libs
Depends: libflac, libvorbis, opus
Architecture: x86-windows
Multi-Arch: same
Description: Default feature. Enables Ogg Vorbis, FLAC and Ogg Opus formats support.
Type: Port
