Package: libflac
Version: 1.3.3
Port-Version: 7
Depends: libogg
Architecture: x86-windows
Multi-Arch: same
Abi: 96ec76d8aef351526c94bb2db5f6259146fe4e40cf0a582cb62ce56b5600e889
Description: Library for manipulating FLAC files
Type: Port
