Package: libvorbis
Version: 1.3.7
Port-Version: 1
Depends: libogg
Architecture: x86-windows
Multi-Arch: same
Abi: 215b537140f999c08dee1a0a3beaf0d7af7bc83186dd8888ceec58a82c223f1a
Description: Ogg Vorbis is a fully open, non-proprietary, patent-and-royalty-free, general-purpose compressed audio format
Type: Port
