Package: opus
Version: 1.3.1
Port-Version: 6
Architecture: x86-windows
Multi-Arch: same
Abi: be363e37c44e7197fd3065ee6ae7dee9fdd8ed0264aeae5600b609a794510fe9
Description: Totally open, royalty-free, highly versatile audio codec
Type: Port
