Package: pcre
Version: 8.45
Port-Version: 2
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: e4f242fd438ae40ba494ba34dc565eff7ade28a05f00b6e20a7619a14bde6f26
Description: Perl Compatible Regular Expressions
Type: Port
