Package: taglib
Version: 1.12.0
Port-Version: 1
Depends: zlib
Architecture: x86-windows
Multi-Arch: same
Abi: 1a7a7bc2cc7aad04629209fbe5291aa5f8ec37b84f8a8dbc09b6c2ad0f2144a5
Description: TagLib Audio Meta-Data Library
Type: Port
