Package: libiconv
Version: 1.17
Port-Version: 3
Architecture: x86-windows
Multi-Arch: same
Abi: fd9dd19a89d90e60349be229d41a4880a3d1bab521cbfeed45503729ff681940
Description: GNU Unicode text conversion
