Package: libiconv
Version: 1.16
Port-Version: 11
Architecture: x86-windows
Multi-Arch: same
Abi: ac2405ca6b0a5878a86dbdda6aca8f01d7b882e5601dca2e66e94b8aeb9ecfad
Description: GNU Unicode text conversion
Type: Port
