Package: libiconv
Version: 1.18
Port-Version: 1
Architecture: x86-windows
Multi-Arch: same
Abi: df9e999e764abd77b68ac5e7f5d8426c01097aab71e670112b1069e9922a7383
Description: iconv() text conversion.
    This port installs GNU libiconv if the system C runtime doesn't provide a suitable iconv() implementation.
