Package: liblzma
Version: 5.4.4
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 980a08a836a44d2f68b78c03005141d1a8a22d556429665b5f3fa40ee3b776f8
Description: Compression library with an API similar to that of zlib.
