Package: liblzma
Version: 5.6.3
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 1b4ae8df3e0b074354d2eca2fce1e5d4dcf2633f902de82ff7fcbccf63072e8f
Description: Compression library with an API similar to that of zlib.
