Package: liblzma
Version: 5.2.5
Port-Version: 4
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: ea849f31ef0f3d6b59685d8067043bde518ea0f4f4a41b3af128f2e40fd4612b
Description: Compression library with an API similar to that of zlib.
Type: Port
