Package: curl
Version: 7.81.0
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows, zlib
Architecture: x86-windows
Multi-Arch: same
Abi: 9e0d58c069f010bdb7a1cd2ab4517840a36b61b2095f0ec55b4b866a515cb507
Description: A library for transferring data with URLs
Type: Port
Default-Features: non-http, ssl

Package: curl
Feature: non-http
Architecture: x86-windows
Multi-Arch: same
Description: Enables protocols beyond HTTP/HTTPS/HTTP2
Type: Port

Package: curl
Feature: schannel
Depends: curl
Architecture: x86-windows
Multi-Arch: same
Description: SSL support (Secure Channel)
Type: Port

Package: curl
Feature: ssl
Depends: curl
Architecture: x86-windows
Multi-Arch: same
Description: Default SSL backend
Type: Port

Package: curl
Feature: sspi
Architecture: x86-windows
Multi-Arch: same
Description: SSPI support
Type: Port
