Package: zlib
Version: 1.3.1
Depends: vcpkg-cmake:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: c68a20b1d895a1bca92bd0ba20036aab2605caabc6d93326ecb4e5023d49d6cd
Description: A compression library
